<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Notifications Management Portal</title>
	<link type="text/css" rel="stylesheet"
		th:href="@{/resources/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet"
		th:href="@{/resources/css/styles.css}" />
</head>
	<body>
		<div class="notificationManagementPortal-layoutContainer">
			<header th:replace="common/header.html :: header"></header>
			<main>
				<section class="">
					<form th:method="GET" action="" th:object="${filterNotification}">
						<label for="notificationCategoryId" class="form-label">Category:</label>
						<select th:field="*{notificationCategoryId}" class="form-select">
							<option value="1">Need to fetch from DB</option>
						</select>
						<label for="startDate" class="form-label">Start date:</label>
						<input th:field="*{startDate}" type="date" class="form-control form-control-sm"/>
						<label th:for="endDate" class="form-label">End date:</label>
						<input th:field="*{endDate}" type="date" class="form-control form-control-sm"/>
					</form>
				</section>
			</main>
			<footer th:replace="common/footer.html :: footer"></footer>
		</div>
	</body>
</html>