<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Notifications Management Portal</title>
	<link type="text/css" rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" th:href="@{/resources/css/styles.css}" />
</head>

<body>
	<div class="notificationManagementPortal-layoutContainer">
		<header th:replace="common/header.html :: header"></header>
		<main>
			
		</main>
		<footer th:replace="common/footer.html :: footer"></footer>
	</div>
</body>

</html>